.button.c0{
    -fx-background-image: url("../img/c0.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.button.c1_mario{
    -fx-background-image: url("../img/c1.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.button.c2_mario{
    -fx-background-image: url("../img/c2.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.menu{
    -fx-background-image: url("../img/btn-jogada-menu.png");
    -fx-background-color: #464347;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.button.jogar{
    -fx-background-image: url("../img/btn-jogada-jogar.png");
    -fx-background-color: #2d2b2e;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.conquistas{
    -fx-background-image: url("../img/btn-jogada-conquistas.png");
    -fx-background-color: #464347;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.conteudo{
    -fx-background-image: url("../img/btn-jogada-conteudo.png");
    -fx-background-color: #464347;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.ranking{
    -fx-background-image: url("../img/btn-jogada-ranking.png");
    -fx-background-color: #464347;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.configuracoes{
    -fx-background-image: url("../img/btn-jogada-configuracoes.png");
    -fx-background-color: #464347;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.sobre{
    -fx-background-image: url("../img/btn-jogada-sobre.png");
    -fx-background-color: #464347;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}


.anchorPane{
    -fx-background-color: #2d2b2e;
}

.paneBotoes{
    -fx-background-color: #464347;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.menu:hover{
    -fx-background-color: #039be5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.conquistas:hover{
    -fx-background-color: #039be5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.conteudo:hover{
    -fx-background-color: #039be5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.ranking:hover{
    -fx-background-color: #039be5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.configuracoes:hover{
    -fx-background-color: #039be5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.sobre:hover{
    -fx-background-color: #039be5;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

