@font-face {
    src: url('../fonts/Oswald-Regular.ttf');
}

.backgroundMain{
    -fx-background-color: #2d2b2e;
}

.paneInfoJogador {
    -fx-background-color: #464347;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.paneBotoes{
    -fx-background-color: #464347;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.imgViewLogo{
    -fx-image: url("./../img/logo.png");
}

.avatar{
    -fx-background-image: url("../img/kratos-avatar.jpg");
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
    -fx-background-insets: 0;
}

.button.conquistas{
    -fx-background-color: #2d2b2e;
    -fx-text-fill: white;
    -fx-font: 18px Oswald;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.btnOpcoesMenu{
    -fx-background-color: #464347;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Oswald;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.labelInfoPlayer{
    -fx-text-fill: white;
    -fx-font: 16px Oswald;
}

.github{
    -fx-background-image: url("../img/btn-menu-github-white.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10,10;
    -fx-background-color: #464347;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-alignment: right;
    -fx-text-fill: white;
    -fx-font: 18px Oswald;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-background-color: #039be5;
    -fx-background-insets: 0;
    -fx-text-fill: whsite;
    -fx-text-alignment: right;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , black , 5, 0.0 , 0 , 1 );
}

.github:hover{
    -fx-background-color: gray;
    -fx-background-insets: 0;
    -fx-text-fill: gray;
    -fx-text-alignment: right;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}