@font-face {
    src: url('../fonts/Montserrat-Bold.ttf');
}

.github {
    -fx-background-image: url("../img/btn-login-github-white.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-padding: 5;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.cadastrar {
    -fx-background-image: url("../img/btn-login-cadastrar-white.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.entrar {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.esqueci-minha-senha {
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.btn-voltar {
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.btn-intro-clique{
    -fx-background-image: url("../img/lbl-intro-clique.gif");
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-menu-sidebar-selecionado {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.btn-menu-sidebar-nao-selecionado {
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.btn-dificuldade-nivel{
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.btn-dificuldade-nivel:hover{
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.cadastrar:hover {
    -fx-background-image: url("../img/btn-login-cadastrar-black.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.btn-voltar:hover {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.btn-menu-sidebar-nao-selecionado:hover {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

/*
    ICONES DOS BOTÕES DA JOGADA
*/


.btn-jogada-menu{
    -fx-background-color: black;
    -fx-background-image: url("../img/btn-jogada-menu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: white;
}

.btn-jogada-menu:hover{
    -fx-background-color: white;
    -fx-background-image: url("../img/btn-jogada-menu-black.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-jogada-jogar{
    -fx-background-color: black;
    -fx-background-image: url("../img/btn-jogada-jogar.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: white;
}

.btn-jogada-jogar:hover{
    -fx-background-color: white;
    -fx-background-image: url("../img/btn-jogada-jogar-black.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-jogada-conquistas{
    -fx-background-color: black;
    -fx-background-image: url("../img/btn-jogada-conquistas.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: white;
}

.btn-jogada-conquistas:hover{
    -fx-background-color: white;
    -fx-background-image: url("../img/btn-jogada-conquistas-black.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-jogada-conteudo{
    -fx-background-color: black;
    -fx-background-image: url("../img/btn-jogada-conteudo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: white;
}

.btn-jogada-conteudo:hover{
    -fx-background-color: white;
    -fx-background-image: url("../img/btn-jogada-conteudo-black.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-jogada-ranking{
    -fx-background-color: black;
    -fx-background-image: url("../img/btn-jogada-ranking.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: white;
}

.btn-jogada-ranking:hover{
    -fx-background-color: white;
    -fx-background-image: url("../img/btn-jogada-ranking-black.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-jogada-configuracoes{
    -fx-background-color: black;
    -fx-background-image: url("../img/btn-jogada-configuracoes.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: white;
}

.btn-jogada-configuracoes:hover{
    -fx-background-color: white;
    -fx-background-image: url("../img/btn-jogada-configuracoes-black.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-jogada-sobre{
    -fx-background-color: black;
    -fx-background-image: url("../img/btn-jogada-sobre.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: white;
}

.btn-jogada-sobre:hover{
    -fx-background-color: white;
    -fx-background-image: url("../img/btn-jogada-sobre-black.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/*
    ICONES DOS BOTÕES DA TELA DE CONTEUDO
*/

.btn-cadeado-fechado{
    -fx-background-image: url("../img/lock_icon.png");
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;
}

.btn-cadeado-aberto{
    -fx-background-image: url("../img/unlock_icon.png");
    -fx-background-color: black;
    -fx-background-repeat: no-repeat;
}


/*
   BUTTONS RELACIONADO A JOGADA
*/

.c0-fundo-transparente{
    -fx-background-image: url("../img/c0.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-bomberman{
    -fx-background-image: url("../img/btn-jogada-bomberman.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-bomberman{
    -fx-background-image: url("../img/btn-jogada-bomberman.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-crash{
    -fx-background-image: url("../img/btn-jogada-crash.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-crash{
    -fx-background-image: url("../img/btn-jogada-crash.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-donkeykong{
    -fx-background-image: url("../img/btn-jogada-donkeykong.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-donkeykong{
    -fx-background-image: url("../img/btn-jogada-donkeykong.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-dukenukem{
    -fx-background-image: url("../img/btn-jogada-dukenukem.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-dukenukem{
    -fx-background-image: url("../img/btn-jogada-dukenukem.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-kratos{
    -fx-background-image: url("../img/btn-jogada-kratos.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-kratos{
    -fx-background-image: url("../img/btn-jogada-kratos.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-laracroft{
    -fx-background-image: url("../img/btn-jogada-laracroft.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-laracroft{
    -fx-background-image: url("../img/btn-jogada-laracroft.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}


.c1-mario{
    -fx-background-image: url("../img/btn-jogada-mario.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-mario{
    -fx-background-image: url("../img/btn-jogada-mario.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-megaman{
    -fx-background-image: url("../img/btn-jogada-megaman.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-megaman{
    -fx-background-image: url("../img/btn-jogada-megaman.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-pacman{
    -fx-background-image: url("../img/btn-jogada-pacman.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-pacman{
    -fx-background-image: url("../img/btn-jogada-pacman.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-ryu{
    -fx-background-image: url("../img/btn-jogada-ryu.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-ryu{
    -fx-background-image: url("../img/btn-jogada-ryu.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-sonic{
    -fx-background-image: url("../img/btn-jogada-sonic.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;;
}

.c2-sonic{
    -fx-background-image: url("../img/btn-jogada-sonic.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c1-zelda{
    -fx-background-image: url("../img/btn-jogada-zelda.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

.c2-zelda{
    -fx-background-image: url("../img/btn-jogada-zelda.png");
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-opacity: 1.0;
}

/*
   BUTTONS RELACIONADO AO AVATAR / CADASTRO
*/

.btn-avatar-bomberman {
    -fx-background-image: url("../img/btn-avatar-bomberman.jpg ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-crash {
    -fx-background-image: url("../img/btn-avatar-crash.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-donkeykong {
    -fx-background-image: url("../img/btn-avatar-donkeykong.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-dukenukem {
    -fx-background-image: url("../img/btn-avatar-dukenukem.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-kratos {
    -fx-background-image: url("../img/btn-avatar-kratos.jpg ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-laracroft {
    -fx-background-image: url("../img/btn-avatar-laracroft.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-mario {
    -fx-background-image: url("../img/btn-avatar-mario.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-megaman {
    -fx-background-image: url("../img/btn-avatar-megaman.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-pacman {
    -fx-background-image: url("../img/btn-avatar-pacman.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-ryu {
    -fx-background-image: url("../img/btn-avatar-ryu.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-sonic {
    -fx-background-image: url("../img/btn-avatar-sonic.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-zelda {
    -fx-background-image: url("../img/btn-avatar-zelda.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-bomberman:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-crash:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-donkeykong:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-dukenukem:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-kratos:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-laracroft:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-megaman:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-mario:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-pacman:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-ryu:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-sonic:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-zelda:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}


/*
   BUTTONS RELACIONADO AO AVATAR / DIFIVULDADE
*/

.btn-avatar-bomberman {
    -fx-background-image: url("../img/btn-avatar-bomberman.jpg ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-crash {
    -fx-background-image: url("../img/btn-avatar-crash.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-donkeykong {
    -fx-background-image: url("../img/btn-avatar-donkeykong.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-dukenukem {
    -fx-background-image: url("../img/btn-avatar-dukenukem.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-kratos {
    -fx-background-image: url("../img/btn-avatar-kratos.jpg ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-laracroft {
    -fx-background-image: url("../img/btn-avatar-laracroft.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-mario {
    -fx-background-image: url("../img/btn-avatar-mario.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-megaman {
    -fx-background-image: url("../img/btn-avatar-megaman.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-pacman {
    -fx-background-image: url("../img/btn-avatar-pacman.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-ryu {
    -fx-background-image: url("../img/btn-avatar-ryu.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-sonic {
    -fx-background-image: url("../img/btn-avatar-sonic.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-zelda {
    -fx-background-image: url("../img/btn-avatar-zelda.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-zelda {
    -fx-background-image: url("../img/btn-avatar-zelda.png ");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-aleatorio{
    -fx-background-image: url("../img/lbl-selecao-personagem-black.png");
    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn-avatar-bomberman:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-crash:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-donkeykong:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-dukenukem:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-kratos:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-laracroft:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-megaman:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-mario:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-pacman:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-ryu:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-sonic:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-zelda:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.btn-avatar-aleatorio:hover {
    -fx-background-image: url("../img/lbl-selecao-personagem.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: white;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}