.anchorpane {
    -fx-background-color: black;
}

.pane {
    -fx-background-color: black;
}

.pane-borda{
    -fx-background-color: black;
    -fx-border-color: white;
}

.logo {
    -fx-background-image: url("../img/lbl-login-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.progress-bar-cadastro .bar {
    -fx-background-color: black;
}

.progress-bar-cadastro {
    -fx-background-color: white;
}

.progress-bar.bar {
    -fx-background-color: black;
}

.progress-bar .track {
    -fx-background-color: white;
}