.login-textField {
    -fx-background-image: url("../img/txt-login-usuario.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-font-align: center;
}

.login-passwordField {
    -fx-background-image: url("../img/txt-login-senha.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-font-align: center;
}

.cadastro-textField {
    -fx-background-image: url("../img/txt-login-usuario.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-font-align: center;
}

.cadastro-passwordField {
    -fx-background-image: url("../img/txt-login-senha.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-font-align: center;
}

.cadastro-confirmPasswordField {
    -fx-background-image: url("../img/txt-login-senha.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-font-align: center;
}