@font-face {
    src: url('../fonts/Montserrat-Bold.ttf');
}

.entrar_jogo {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.criar_conta {
    -fx-background-image: url("../img/btn-login-cadastrar-white.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
}

.esqueci_minha_senha {
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-border-insets: 0;
    -fx-font-family: "Tohama";
    -fx-font-size: 13px;
}

.textField {
    -fx-background-image: url("../img/txt-login-usuario.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-font-align: center;
}

.passwordField {
    -fx-background-image: url("../img/txt-login-senha.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-font-align: center;
}

.github {
    -fx-background-image: url("../img/btn-login-github-white.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 0px, right 15px;
    -fx-padding: 5;
    -fx-border-color: white;
    -fx-background-color: black;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-font-align: center;
}

.anchorPane {
    -fx-background-color: black;
}

.label {
    -fx-background-image: url("../img/logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-opacity: 1.0;
}

.criar_conta:hover {
    -fx-background-image: url("../img/btn-login-cadastrar-black.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 15, 10;
    -fx-background-color: white;
    -fx-text-fill: black;
}

.github:hover {
    -fx-background-image: url("../img/btn-login-github-black.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: left 0.5px, right 10px;
    -fx-padding: 5;
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-text-fill: black;
    -fx-font: 18px Montserrat;
    -fx-font-align: center;
    -fx-effect: dropshadow( three-pass-box, black, 5, 0.0, 0, 1);
    -fx-font-align: center;
}