/*
    ESTILOS RELACIONADOS AO CADASTRO
*/


.lbl-cadastro-personagem-nulo {
    -fx-background-image: url("../img/lbl-nulo-transparente.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-bomberman {
    -fx-background-image: url("../img/lbl-cadastro-bomberman.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-crash {
    -fx-background-image: url("../img/lbl-cadastro-crash.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-donkeykong {
    -fx-background-image: url("../img/lbl-cadastro-donkeykong.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-dukenukem {
    -fx-background-image: url("../img/lbl-cadastro-dukenukem.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-kratos {
    -fx-background-image: url("../img/lbl-cadastro-kratos.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-laracroft {
    -fx-background-image: url("../img/lbl-cadastro-laracroft.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-megaman {
    -fx-background-image: url("../img/lbl-cadastro-megaman.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-mario {
    -fx-background-image: url("../img/lbl-cadastro-mario.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-pacman {
    -fx-background-image: url("../img/lbl-cadastro-pacman.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-ryu {
    -fx-background-image: url("../img/lbl-cadastro-ryu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-sonic {
    -fx-background-image: url("../img/lbl-cadastro-sonic.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-cadastro-personagem-zelda {
    -fx-background-image: url("../img/lbl-cadastro-zelda.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/*
    AVATARES DOS JOGADORES GUI_JODADOR
*/

.lbl-jogador-avatar-bomberman{
    -fx-background-image: url("../img/btn-avatar-bomberman.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-crash{
    -fx-background-image: url("../img/btn-avatar-crash.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-donkeykong{
    -fx-background-image: url("../img/btn-avatar-donkeykong.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-dukenukem{
    -fx-background-image: url("../img/btn-avatar-dukenukem.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-kratos{
    -fx-background-image: url("../img/btn-avatar-kratos.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-laracroft{
    -fx-background-image: url("../img/btn-avatar-laracroft.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.lbl-jogador-avatar-mario{
    -fx-background-image: url("../img/btn-avatar-mario.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-megaman{
    -fx-background-image: url("../img/btn-avatar-megaman.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-pacman{
    -fx-background-image: url("../img/btn-avatar-pacman.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-ryu{
    -fx-background-image: url("../img/btn-avatar-ryu.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-sonic{
    -fx-background-image: url("../img/btn-avatar-sonic.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-jogador-avatar-zelda{
    -fx-background-image: url("../img/btn-avatar-zelda.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-alert-erro{
    -fx-background-image: url("../img/lbl-alert-erro.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.lbl-contribua-no-git{
    -fx-background-image: url("../img/github_social_coding.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 150px;
}

.lbl-fork-projeto{
    -fx-background-image: url("../img/fork_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px;
}

.lbl-star-projeto{
    -fx-background-image: url("../img/star_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 50px;
}

.lbl-book{
    -fx-background-image: url("../img/books_icon.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 130px;
}

.lbl-conectado-no-site{
    -fx-background-image: url("../img/conectado_site_mdh.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 250px;
}

/*

*/

.lbl-intro-logo{
    -fx-background-image: url("../img/lbl-intro-logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}